.jumbotron {
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: url('../images/header.jpg') no-repeat bottom;
    background-size: cover;
    padding: 0;
    border-radius: 0;
}

.jumbotron .bg-overlay {
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
    position: relative;
    top: 100px;
    text-align: center;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
}

.jumbotron p {
    color: #fff;
    font-size: 20px;
}

.hide {
    display: none !important
}

#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(95, 95, 95, 0.77);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#toTop:hover, #showNew:hover {
    background-color: rgba(50, 50, 50, 0.77);
}

#showNew {
    display: block;
    position: fixed;
    top: 100px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(95, 95, 95, 0.77);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}